<div class="mx-auto text-center d-flex flex-column justify-content-center formulario" align="center">
	<form #crearProyecto = "ngForm" (ngSubmit) = "onClickSubmit(crearProyecto.value)">
		<input class="form-control" type = "text" name = "nombreProyecto" placeholder = "Nombre" ngModel>
		<br/>
		<input class="form-control" type = "text" name = "descripcionProyecto" placeholder = "Descripcion" ngModel>
		<br/>
		<input class="form-control" type = "text" name = "portada" placeholder = "Portada URL" ngModel>
		<br/>
		<input class="form-control" type = "text" name = "enlace" placeholder = "Enlace URL" ngModel>
		<br/>
		<input class="btn btn-primary" type = "submit" value = "Crear Proyecto">
	</form>
</div>   