.plan{
    height: 150px;
    display: flex;
    align-items: center;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    width: 30%;
}
.boton{
    padding: 15px;
    width: 200px;
    font-size: 20px;
}