<div class="container">
    <div class="proyecto d-flex">
        <div id="video" class="col-6">
            <iframe width="100%" height="315" [src]="proyecto.enlace | urlSegura" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="col-6 p-3">
            <h1>{{ proyecto.nombreProyecto }}</h1>
            <p>{{ proyecto.descripcionProyecto }}</p>
        </div>
    </div>
    <div class="planes col-12 my-4">
        <div class="d-flex justify-content-between">
            <div class="plan p-2 " *ngFor="let plan of planes">
                <div class="infoProyecto text-center">
                    <h3>{{ plan.nombrePlan }}</h3>
                    <p>{{ plan.descripcionPlan }}</p>
                    <h5>{{ plan.valor }}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <a class="boton btn btn-primary" [routerLink]="['/proyectos/', proyecto._id, 'donar']">DONAR</a>
    </div>
</div>
