<div class="container">
    <div class="proyecto d-flex">
        <div id="video" class="col-6">
            
        </div>
        <div class="col-6 p-3">
            <h1>{{ proyecto.nombreProyecto }}</h1>
            <p>{{ proyecto.descripcionProyecto }}</p>
            <p>{{ proyecto.enlace }}</p>
            <p></p>
            <button>DONAR</button>
        </div>
    </div>
    <div class="planes col-12 my-2">
        <div class="d-flex">
            <div class="plan col-3 p-2">
                <h5>Plan 1</h5>
                <p>Descrpcion de los planes</p>
            </div>
            <div class="plan col-3 p-2">
                <h5>Plan 2</h5>
                <p>Descrpcion de los planes</p>
            </div>
            <div class="plan col-3 p-2">
                <h5>Plan 3</h5>
                <p>Descrpcion de los planes</p>
            </div>
            <div class="plan col-3 p-2">
                <h5>Plan 4</h5>
                <p>Descrpcion de los planes</p>
            </div>
        </div>
    </div>
</div>