.portada {
  height: 190px;
}

.portada img {
  height: 100%;
  object-fit: cover;
}

figure.cover-figure {
  height: 190px;
}

img.cover-image {
  height: 100%;
  object-fit: cover;
}

.spinner-border {
  height: 150px;
  width: 150px;
}
