<div class="container" align="center">
	<form #crearProyecto = "ngForm" (ngSubmit) = "onClickSubmit(crearProyecto.value)" >
		<input type = "text" name = "proyectoId" placeholder = "proyectoId" ngModel>
		<br/>
		<input type = "text" name = "nombreProyecto" placeholder = "nombreProyecto" ngModel>
		<br/>
		<input type = "text" name = "descripcionProyecto" placeholder = "descripcionProyecto" ngModel>
		<br/>
		<input type = "text" name = "portada" placeholder = "portada" ngModel>
		<br/>
		<input type = "text" name = "enlace" placeholder = "enlace" ngModel>
		<br/>
		<input type = "submit" value = "Crear Proyecto">
	</form>
</div>   