<div class="card" style="width: 18rem;">
  <img [src]="usuario.avatar" class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title">{{ usuario.nombre }}</h5>
    <p class="card-text">{{ usuario.correoElectronico }}</p>
    <a routerLink="/usuarios" class="btn btn-primary">Regresar</a>
  </div>
</div>

<iframe *ngIf="proyecto.enlace !== null" width="560" height="315" [src]="proyecto.enlace | safe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<div id="video">

</div>
