<div class="mx-auto text-center d-flex flex-column justify-content-center formulario">
    <h1>Registro de Usuario</h1>

    <img class="avatar" src="{{ avatarFile }}" alt="" />

    <form [formGroup]="formularioRegistro" (ngSubmit)="crearUsuario(formularioRegistro.value)">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text material-icons">account_circle</span>
            </div>
            <input formControlName="nombreUsuario" type="email" class="form-control" id="email" placeholder="Nombre" />
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text material-icons">email</span>
            </div>
            <input formControlName="correoUsuario" type="email" class="form-control" id="email" placeholder="Correo Electrónico" />
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text material-icons">vpn_key</span>
            </div>
            <input formControlName="contrasena" type="password" class="form-control" id="pass" placeholder="Contraseña" />
        </div>
        <div class="form-group">
            <input formControlName="avatar" type="file" class="form-control" id="avatar" (change)="onFileSelected($event)" />
        </div>
        <div class="row">
            <div class="boton col-12">
                <button type="submit" class="btn btn-primary">Registrarse</button>
            </div>
        </div>
    </form>
</div>