.logo {
  height: 40px;
  width: auto;
}

// .bg-dark-gradient {
//   background-color: transparent;
//   background: linear-gradient(0deg,  transparent, rgba(0,0,0,0.6) 100%);
// }

// #navbarHeader.navbar-collapse {
//   flex-grow: inherit;
// }


// .avatar {
//   height: 48px;
//   width: 48px;
// }

// .nombre-usuario {
//   font-size: 1.5rem;
//   font-weight: bold;
//   margin-right: 0.4rem;
// }

// .nombre-usuario:hover {
//   color: lightgray;
//   cursor: pointer;
// }
