<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <img src="assets/images/logo.svg" alt="" class="logo mr-2" />
      BIT Video
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div *ngIf="usuario; else menuVisitante" class="collapse navbar-collapse" id="navbarHeader">
      <div class="d-flex flex-column flex-md-row justify-content-between w-100">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="btn btn-link" routerLink="/inicio" routerLinkActive="active">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-link" routerLink="/proyectos" routerLinkActive="active">Proyectos</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-link" routerLink="/nosotros" routerLinkActive="active">Nosotros</a>
          </li>
        </ul>

        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="btn btn-link" routerLink="/admin/proyectos" routerLinkActive="active">Mis Proyectos</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-link" routerLink="/admin/mi-recaudacion" routerLinkActive="active">Mi Recaudación</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-link" routerLink="/contacto" routerLinkActive="active">Contacto</a>
          </li>
        </ul>

        <div class="d-flex align-items-center text-white">
          <img [src]="usuario.avatar" class="avatar rounded-circle mr-1" alt="" />
          <span class="nombre-usuario mr-1">{{ usuario.nombre }}</span>
          <button class="d-flex align-items-center btn btn-link" (click)="cerrarSesion()" title="Cerrar Sesión"><span class="material-icons">power_settings_new</span></button>
        </div>
      </div>
    </div>

    <ng-template #menuVisitante>
      <div class="collapse navbar-collapse" id="navbarHeader">
        <div class="d-flex justify-content-between w-100">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="btn btn-link" routerLink="/inicio" routerLinkActive="active">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-link" routerLink="/proyectos" routerLinkActive="active">Proyectos</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-link" routerLink="/contacto" routerLinkActive="active">Contacto</a>
            </li>
          </ul>

          <ul *ngIf="!usuario" class="navbar-nav">
            <li class="nav-item active">
              <a class="btn btn-link" routerLink="/usuario/inicio-de-sesion" routerLinkActive="active">Iniciar Sesión</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-link" routerLink="/usuario/registro" routerLinkActive="active">Registrarse</a>
            </li>
          </ul>
        </div>
      </div>
    </ng-template>
  </div>
</nav>
