<div class="bg-primary text-white">
  <div class="container">
    <div class="row py-3">
      <div class="col-12 col-md-4 d-flex flex-column">
        <a class="btn btn-link mb-1 text-left" routerLink="/not-found" routerLinkActive="active">Quienes Nosotros</a>
        <a class="btn btn-link mb-1 text-left" routerLink="/not-found" routerLinkActive="active">Nuestros Proyectos</a>
        <a class="btn btn-link mb-1 text-left" routerLink="/not-found" routerLinkActive="active">Sedes</a>
      </div>
      <div class="col-12 col-md-4 d-flex flex-column">
        <a class="btn btn-link mb-1 text-left" routerLink="/not-found" routerLinkActive="active">Trabajos</a>
        <a class="btn btn-link mb-1 text-left" routerLink="/not-found" routerLinkActive="active">Emprendimientos</a>
        <a class="btn btn-link mb-1 text-left" routerLink="/not-found" routerLinkActive="active">Destacado</a>
      </div>
      <div class="col-12 col-md-4 d-flex flex-column">
        <a class="btn btn-link mb-1 text-left" routerLink="/not-found" routerLinkActive="active">Boletín de Noticias</a>
        <a class="btn btn-link mb-1 text-left" routerLink="/not-found" routerLinkActive="active">Telefonos</a>
        <a class="btn btn-link mb-1 text-left" routerLink="/contacto" routerLinkActive="active">Contactanos</a>
      </div>
    </div>
  </div>
</div>
