<div class="container">
    <h1>Nosotros</h1>
</div>
<div class="container d-flex flex-wrap">
    <div class="col-6 d-flex my-4">
        <div class="col-6 d-flex align-items-center">
            <img src="../../../assets/images/nosotros/Jeisson.jpg" alt="" width="100%">
        </div>
        <div class="col-6 d-flex flex-column justify-content-center">
            <h3>Jeisson Francois Rosas Céspedes</h3>
            <h4>Ingeniero en sistemas y Desarrollador de software.</h4>
            <p>Entusiasta de la tecnología, desarrollador de software e instructor. Con 9 años de experiencia en
                variadas tecnologías, herramientas, equipos y proyectos. Siempre dispuesto a aprender y afrontar nuevos
                retos.</p>
        </div>
    </div>
    <div class="col-6 d-flex  my-4">
        <div class="col-6 d-flex align-items-center">
            <img src="../../../assets/images/nosotros/jose.jpg" alt="" width="100%">
        </div>
        <div class="col-6 d-flex flex-column justify-content-center">
            <h3>José Luis Hurtado Hoyos</h3>
            <h4>Administrador Financiero y de Sistemas</h4>
            <p>Programador Web Full Stack de BIT Bogotá Institute of Technology.</p>
        </div>
    </div>
    <div class="col-6 d-flex  my-4">
        <div class="col-6 d-flex align-items-center">
            <img src="../../../assets/images/nosotros/kiek.jpg" alt="" width="100%">
        </div>
        <div class="col-6 d-flex flex-column justify-content-center">
            <h3>Luis Enrique Ruiz</h3>
            <h4>Gerente Carton Cajas Ltda</h4>
            <p>BBM, MBA - University of West Alabama</p>
        </div>
    </div>
    <div class="col-6 d-flex  my-4">
        <div class="col-6 d-flex align-items-center">
            <img src="../../../assets/images/nosotros/Yeison.jpg" alt="" width="100%">
        </div>
        <div class="col-6 d-flex flex-column justify-content-center">
            <h3>Yeison Herrera</h3>
            <h4>MBA, PMP Ingeniero.</h4>
            <p>1. proyectos creados
                2.CAmbio de Registro a estandar botstrap//Hecho
                3. Adicione swwetalert a la creacion de proyectos y donaciones.</p>
        </div>
    </div>
    <div class="col-6 d-flex  my-4">
        <div class="col-6 d-flex align-items-center">
            <img src="../../../assets/images/nosotros/nicolas.jpg" alt="" width="100%">
        </div>
        <div class="col-6 d-flex flex-column justify-content-center">
            <h3>Nicolas Garcia</h3>
            <h4>Diseñador y Desarrollador Web</h4>
            <p>Soy un realizador audiovisual con enfasis en el desarrollo web, que esta en la capacidad de asumir diferentes retos y aprender de estas experiencias para crecer profesional y personalmente.</p>
        </div>
    </div>
    <div class="col-6 d-flex  my-4">
        <div class="col-6 d-flex align-items-center">
            <img src="../../../assets/images/nosotros/camilo.jpg" alt="" width="100%">
        </div>
        <div class="col-6 d-flex flex-column justify-content-center">
            <h3>Camilo Arturo Calvache Tellez</h3>
            <h4>Profesional en lenguas modernas</h4>
            <p>Con énfasis tecnologías de la información y comunicación.   </p>
        </div>
    </div>
</div>