<div class="container">
    <h1>Nosotros</h1>
</div>
<div class="container">
    <div class="col-6">
        <div class="col-6">
            <img src="../../../assets/images/nosotros/Jeisson.jpg" alt="">
        </div>
        <div class="col-6">
            <h3>Jeisson Francois Rosas Céspedes</h3>
        <h4>Ingeniero en sistemas y Desarrollador de software.</h4>
        <p>Entusiasta de la tecnología, desarrollador de software e instructor. Con 9 años de experiencia en variadas tecnologías, herramientas, equipos y proyectos. Siempre dispuesto a aprender y afrontar nuevos retos.</p>
        </div>
        
    </div>
</div>