<div class="container">
    <h1>Nosotros</h1>

    <div class="row">
        <div class="col-12 col-md-6 col-xl-4 my-4">
            <div class="d-flex flex-column text-left p-2" title="No Tocar" data-toggle="tooltip" data-trigger="hover">
                <img src="../../../assets/images/nosotros/Jeisson.jpg" alt="" width="100%">
                <h3>Jeisson Francois Rosas Céspedes</h3>
                <h4>Ingeniero en sistemas y Desarrollador de software.</h4>
                <p class="text-justify">Entusiasta de la tecnología, desarrollador de software e instructor. Con 9 años de experiencia en
                    variadas tecnologías, herramientas, equipos y proyectos. Siempre dispuesto a aprender y afrontar nuevos
                    retos.</p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4 my-4">
            <div class="d-flex flex-column text-left p-2" title="No Tocar" data-toggle="tooltip" data-trigger="hover">
                <img src="../../../assets/images/nosotros/jose.jpg" alt="" width="100%">
                <h3>José Luis Hurtado Hoyos</h3>
                <h4>Administrador Financiero y de Sistemas</h4>
                <p class="text-justify">Programador Web Full Stack de BIT Bogotá Institute of Technology.</p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4 my-4">
            <div class="d-flex flex-column text-left p-2" title="No Tocar" data-toggle="tooltip" data-trigger="hover">
                <img src="../../../assets/images/nosotros/kiek.jpg" alt="" width="100%">
                <h3>Luis Enrique Ruiz</h3>
                <h4>Gerente Carton Cajas Ltda</h4>
                <p class="text-justify">BBM, MBA - University of West Alabama</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 col-xl-4 my-4">
            <div class="d-flex flex-column text-left p-2" title="No Tocar" data-toggle="tooltip" data-trigger="hover">
                <img src="../../../assets/images/nosotros/Yeison.jpg" alt="" width="100%">
                <h3>Yeison Herrera</h3>
                <h4>MBA, PMP Ingeniero.</h4>
                <p class="text-justify">1. proyectos creados
                    2. Cambio de Registro a estandar bootstrap
                    3. Adicione swwetalert a la creacion de proyectos y donaciones.</p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4 my-4">
            <div class="d-flex flex-column text-left p-2" title="No Tocar" data-toggle="tooltip" data-trigger="hover">
                <img src="../../../assets/images/nosotros/nicolas.jpg" alt="" width="100%">
                <h3>Nicolas Garcia</h3>
                <h4>Diseñador y Desarrollador Web</h4>
                <p class="text-justify">Soy un realizador audiovisual con enfasis en el desarrollo web, que esta en la capacidad de asumir diferentes retos y aprender de estas experiencias para crecer profesional y personalmente.</p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4 my-4">
            <div class="d-flex flex-column text-left p-2" title="No Tocar" data-toggle="tooltip" data-trigger="hover">
                <img src="../../../assets/images/nosotros/camilo.jpg" alt="" width="100%">
                <h3>Camilo Arturo Calvache Tellez</h3>
                <h4>Profesional en lenguas modernas</h4>
                <p class="text-justify">Con énfasis tecnologías de la información y comunicación.</p>
            </div>
        </div>
    </div>
</div>
