<div class="container">
    <div class="d-flex">
        <div class="col-6">
            <img src="https://media.giphy.com/media/jnWME57yUdqJFr8lH0/giphy.gif" alt="">
        </div>
        <div class="col-6 d-flex align-items-center">
            <div class="descripcion">
            <h3>Muchas Gracias!</h3>
            <p>{{ donacion.nombreDonante }}, De parte del equipo de {{ donacion.nombreDonante }} te queremos agredecer
                por hacer esta Donación</p>
            <h4>Ahora gracias a tu donación estamos más cerca de lograr nuestro objetivo.</h4>
            <h3>¡Gracias Totales!</h3>
            <p>{{ proyecto.nombreProyecto }}</p>
            </div>
        </div>
    </div>
</div>