<h1>Listado de Usuarios</h1>

<table class="table">
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Nombre</th>
      <th>Correo Electrónico</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios">
      <td><img [src]="usuario.avatar" alt="" class="img-thumbnail" /></td>
      <td>{{ usuario.nombre }}</td>
      <td>{{ usuario.correoElectronico }}</td>
      <td><a [routerLink]="['/usuarios', usuario._id]">Ver Detalle</a></td>
    </tr>
  </tbody>
</table>

<button *ngIf="esValidoMostrar()">Hola</button>
