<div class="container">
  <div class="titulo text-center">
  <h2>
    Tu aporte será de Gran ayuda a este proyecto.
  </h2>
</div>
  <div class="my-5 d-flex">
    <div class="col-4">
      <img class="imagenProyecto" [src]="proyecto.portada" alt="">
    </div>
    <div class=" d-flex align-items-center">
      <div class="descripcion">
      <h3>{{ proyecto.nombreProyecto }}</h3>
      <p>{{ proyecto.descripcionProyecto }}</p>
      </div>
    </div>
  </div>
  <form [formGroup]="formularioRegistroDonacion" (ngSubmit)="crearDonacion(formularioRegistroDonacion.value)">
    <div class="d-none">
      <label>ProyectoId</label>
      <input formControlName="proyectoId" type="text" class="form-control" id="inputProyecto" [value]="proyecto._id">
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputProyecto">Planes</label>
        <select formControlName="planId" class="form-control">
          <option value="">Seleccione un plan</option>
          <option [value]="plan._id" *ngFor="let plan of planes">{{ plan.nombrePlan }} -- {{ plan.valor | currency }}</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Nombre</label>
        <input formControlName="nombreDonante" type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="Telefono col-md-6">
        <label for="inputCity">Teléfono</label>
        <input formControlName="telefonoDonante" type="number" class="form-control" id="inputCity">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Correo</label>
      <input formControlName="correoDonante" type="email" class="form-control" id="inputAddress"
        placeholder="1234 Main St">
    </div>
    <div class="d-flex justify-content-center">
    <button type="submit" class="boton btn btn-primary">Donar</button>
    </div>
  </form>
</div>