<div class="container my-4">
    <h2>Donaciones recibidas</h2>
</div>
<div class="container d-flex">
    <div class="planes col-8">
        <div *ngFor="let proyecto of proyectos" class="card  d-flex flex-row">
            <div class="card-body col-8">
                <h5 class="card-title">{{proyecto.nombreProyecto}}</h5>
            </div>
            <div *ngFor="let donacion of proyecto.donaciones" class="card-body col-4 d-flex align-items-center justify-content-center">
                <h3 class="card-title">{{donacion.valor | currency}}</h3>
            </div>
        </div>
    </div>
    <div class=" col-4 p-relative">
        <div class="card text-white bg-primary mb-3 total" style="max-width: 18rem;">
            <div class="card-header">Total</div>
            <div class="card-body">
                <h5 class="card-title"></h5>
            </div>
        </div>
    </div>
</div>