<div class="container d-flex">
    <div class="planes col-8">
        <div class="card  d-flex flex-row">
            <div class="card-body col-8">
                <h5 class="card-title">Nombre del Proyecto</h5>
                <p class="card-text">Nombre del plan.</p>
            </div>
            <div class="card-body col-4 d-flex align-items-center justify-content-center">
                <h3 class="card-title">75.000</h3>
            </div>
        </div>
    </div>
    <div class=" col-4 p-relative">
        <div class="card text-white bg-primary mb-3 total" style="max-width: 18rem;">
            <div class="card-header">Total</div>
            <div class="card-body">
                <h5 class="card-title">500.000</h5>
            </div>
        </div>
    </div>
</div>