/* You can add global styles to this file, and also import other style files */
$theme-colors: (
  "primary": #528078
);

html, body {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', Helvetica, sans-serif;
}

@import "../node_modules/bootstrap/scss/bootstrap";

.bg-primary a.btn.btn-link, .bg-primary button.btn.btn-link {
  color: white;
  text-decoration: none;
}

.bg-primary a.btn.btn-link:hover, .bg-primary button.btn.btn-link:hover {
  color: lightgray;
}

.bg-primary a.btn.btn-link.active {
  border-bottom: 3px solid lightgreen;
}
